In [1]:
import pandas as pd

In [2]:
def matriz_zero(n_linhas, n_colunas, valor):
    matriz = []
    for i in range(n_linhas):
        linha = []
        for j in range(n_colunas):
            linha.append(valor)       
        matriz.append(linha)

    return matriz

In [3]:
tab_vdd = matriz_zero(16,4,0)

tab_vdd[1][3] = 1
tab_vdd[2][2] = 1
tab_vdd[3][2] = 1
tab_vdd[3][3] = 1
tab_vdd[4][1] = 1
tab_vdd[5][1] = 1
tab_vdd[5][3] = 1
tab_vdd[6][1] = 1
tab_vdd[6][2] = 1
tab_vdd[7][1] = 1
tab_vdd[7][2] = 1
tab_vdd[7][3] = 1
tab_vdd[8][0] = 1
tab_vdd[9][0] = 1
tab_vdd[9][3] = 1
tab_vdd[10][0] = 1
tab_vdd[10][2] = 1
tab_vdd[11][0] = 1
tab_vdd[11][2] = 1
tab_vdd[11][3] = 1
tab_vdd[12][0] = 1
tab_vdd[12][1] = 1
tab_vdd[13][0] = 1
tab_vdd[13][1] = 1
tab_vdd[13][3] = 1
tab_vdd[14][0] = 1
tab_vdd[14][1] = 1
tab_vdd[14][2] = 1
tab_vdd[15][0] = 1
tab_vdd[15][1] = 1
tab_vdd[15][2] = 1
tab_vdd[15][3] = 1

In [4]:
output = matriz_zero(16,2,0)

output[2][1] = 1
output[3][1] = 1
output[4][1] = 1
output[5][0] = 1
output[8][0] = 1
output[9][0] = 1

In [5]:
estados = matriz_zero(16,2,0)

estados[4][1] = 1
estados[5][1] = 1
estados[6][1] = 1
estados[7][1] = 1
estados[8][0] = 1
estados[9][0] = 1
estados[10][0] = 1
estados[11][0] = 1
estados[8][1] = 1
estados[9][1] = 1
estados[10][1] = 1
estados[11][1] = 1

In [6]:
tab_vdd = pd.DataFrame(tab_vdd)
tab_vdd.columns=['E1', 'E0', 'B', 'SP']

output=pd.DataFrame(output)
output.columns=["E1'", "E0'"]

estados=pd.DataFrame(estados)
estados.columns=["Bz", "LV"]

In [7]:
tabe = pd.concat([tab_vdd,output,estados],axis=1)
tabe

    E1  E0  B  SP  E1'  E0'  Bz  LV
0    0   0  0   0    0    0   0   0
1    0   0  0   1    0    0   0   0
2    0   0  1   0    0    1   0   0
3    0   0  1   1    0    1   0   0
4    0   1  0   0    0    1   0   1
5    0   1  0   1    1    0   0   1
6    0   1  1   0    0    0   0   1
7    0   1  1   1    0    0   0   1
8    1   0  0   0    1    0   1   1
9    1   0  0   1    1    0   1   1
10   1   0  1   0    0    0   1   1
11   1   0  1   1    0    0   1   1
12   1   1  0   0    0    0   0   0
13   1   1  0   1    0    0   0   0
14   1   1  1   0    0    0   0   0
15   1   1  1   1    0    0   0   0

In [8]:
a = input("digite E1: ")
b = input("digite E0: ")
c = input("digite B:  ")
d = input("digite SP: ")

digite E1:  1
digite E0:  0
digite B:   1
digite SP:  1

In [9]:
df = tabe.loc[(tabe["E1"] == int(a)) & (tabe["E0"] == int(b)) & (tabe["B"] == int(c)) & (tabe["SP"] == int(d))]
print("A condição E1' é: ", df.iloc[0,4])
print("A condição E0' é: ", df.iloc[0,5])
if df.iloc[0,6] == 1:
    print("A condição Buzina é: Ligada")
else: 
    print("A condição Buzina é: Desligada")

if df.iloc[0,7] == 1:
    print("A condição Luz vermelha é: Ligada")
else: 
    print("A condição Luz vermelha  é: Desligada")

A condição E1' é:  0
A condição E0' é:  0
A condição Buzina é: Ligada
A condição Luz vermelha é: Ligada